# Default ignored files
/../../../../../../../../../:PycharmProjects/flaskProject/.idea/shelf/
/../../../../../../../../../:PycharmProjects/flaskProject/.idea/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:PycharmProjects\flaskProject\.idea/dataSources/
/../../../../../../../../../:PycharmProjects/flaskProject/.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../../../../../../../../:PycharmProjects/flaskProject/.idea/httpRequests/
